{% extends 'layouts/base.html.twig' %}

{% block title %}Contact
{% endblock %}


{% block body %}
	{% include "layouts/partials/_navbar.html.twig" %}
	<img class="logo-heart" src="{{ asset('img/logo.png') }}" alt="">

	<main class="bg-attente">
	{# <main class="bg-attente" style="background-image:url('{{ asset('img/attentee.jpg') }}')"> #}




		<div class="container">
			<h1 class="title-soon">Page en construction ...</h1>
			

		</div>
{% include "layouts/partials/_footer.html.twig" %}
	</main>

{% endblock %}

