*,::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
}

.body-home{
    overflow: hidden;
}
.home-page{
    overflow: hidden;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.preloader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.preloader-icon{
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0;
}

.preloader-icon span {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #4b62a7;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
}
  
  .preloader-icon span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
  }
  
  @keyframes preloader-fx {
    0% {
      -webkit-transform: scale(0, 0);
              transform: scale(0, 0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes preloader-fx {
    0% {
      -webkit-transform: scale(0, 0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1, 1);
      opacity: 0;
    }
  }


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    /*min-width: 100%;
    min-height: 100%; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* .overlay-home{
    background-color: rgba(46, 64, 87, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
 
} */

.home-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    margin-right: 5rem;
    top: 75px;
    right: 5px;
    width: 100%;
}

.title{
    margin-bottom: 10rem;
}

.title-home{
    font-family: 'Tangerine', cursive;
    color: #42766C;
    font-weight: 100;
    font-size: 6.5vw;
    letter-spacing: 4px;
}

.container-btn{
    position: fixed;
    bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
}

.btn-appel-action{
    display: inline-block;
    width: 21rem;
    margin: 10px 20px 10px 20px;
    text-align: center;
    border: 1px solid #ffffff8f;
    color: rgb(253, 253, 253);
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px 10px 5px 10px;
    transition: .7s ease-in-out;
}

.btn-appel-action:hover{
    color: #42766C;
    background-color: #f0f0f065;
}
    
/* icon media */
.medias{
    position: absolute;
    list-style: none;
    right: 2%;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.logo-media{
    width: 2rem !important;
    transition: all .3s ease;
}

.logo-media:hover{
    transform: scale(1.3);
}

/* ///////////////////////////// NAVBAR ///////////////////////////////// */

.nav-home{
    display: flex;
    justify-content: flex-end !important;
}

.navbar{
    background-color: #ffffff;
}

.js-collapseNavbar{
    background-color: #2e4058 !important;
    border-radius: 0 0 400px 0;
    z-index: 10000;
}
.js-mainNavbar{
    background-color: #2e4058 !important;
    border-radius: 0 0 400px 0;
}

.navbar-home {
    display: none ;
}

/* .navbar-brand span{
    font-size: 1.1rem;
} */ 

.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #479D84!important;
    font-size: 1.2rem;
    letter-spacing: 3px;
    /* padding-bottom: 0.3rem; */
}

.nav-gif{
    margin-top: -0.3rem;
}

.activ{
    color: #7EC65E !important;
    font-weight: bolder;
    border-bottom: 1px solid #83B0BD ;
}

.nav-services:after{
    display: block;
    content: '';
    border-bottom: 1px solid #479D84;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-services:hover:after{
    transform: scale(1);
}

.nav-item:after{
    display: block;
    content: '';
    border-bottom: 1px solid #479D84;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-item:hover:after{
    transform: scale(1);
}

/* hamburger */

.btn-hamburger{
    float: right;
}

.toggler-icon{

    width: 30px;
    height: 3px;
    background: #83B0BD;
    margin: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none;
    outline: none;
}

.navbar-toggler.active .toggler-icon:nth-child(2){
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}

.navbar-toggler.active .toggler-icon:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
}

.icon-gif{
    height: 1.5rem;
    width: 1.5rem;
    fill: #479D84;
}

/* #Layer_1{
    height: 1.5rem;
    width: 1.5rem;
} */

/* ///////////////// SPRITE ////////////////////// */
.hi {
    width: 160px;
    height: 150px;
    position: absolute;
  top: 22px;
  left: 2140px;
    background-image: url("../img/bf.png");
    /* transform: translate3D(200px, 50px, 0); */
    animation: walk 0.48s steps(10) infinite , moveDog 4.7s linear 1;
    /* backface-visibility: hidden; */
    /* perspective: 1000; */
           
}



@keyframes walk {
    100% { background-position: -1657px; }
  }

 @keyframes moveDog {
  100% {
    transform: translateX(-2657px);
  } 

}


.logo-heart{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 12rem;
    z-index: 2000;
}

.btn-rdv{
width: 21rem;
margin: 0 20px 0 20px;
text-align: center;
border: 1px solid #6C8387;
color: #6C8387;
border-radius: 5px;
text-decoration: none;
font-size: 2rem;
padding: 5px 20px 5px 20px;
transition: .7s ease-in-out;
}


.btn-rdv:hover{
color: #ba386e;
background-color: #f0f0f0;
}

/* /////////////////////////////// bulles ///////////////////////// */
.bulles-container{

    height: 100vh;
    overflow: hidden;
    /* background: #05080e; */
    background-image: linear-gradient(to right bottom, #05080e, #051937, #01213c);
    background-image: linear-gradient(to right, #051937, #01213c);
    background-image: linear-gradient(to right bottom, #05080e, #0f161d, #12202a, #122b38);
    /* background-image: url(./textile-1824172_1920.jpg); */
    background-size: cover;
}

.logoBulles{
    margin: 40px;

}
[class~=bubble] {
    height: 90px;
    position: relative;
    width: 90px;
    left: -100px;
    background: url('https://www.click4balloons.co.uk/ekmps/shops/click4/images/clear-deco-bubble-balloon-20-1pc-12298-p.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    padding-top: 0px;
    z-index: -999;

}


#background-wrap {
    background: url('http://www.arrumadissimo.com.br/wp-content/uploads/2015/06/Adesivos-pastilhinhas1.png');
    border: 3px black solid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -999;
    margin: 0 auto;
}

@keyframes sideWays {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 100px;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(700px, 50px);
    }
}


@keyframes sideWays2 {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 350px;
    }
}

@keyframes move2 {
    0% {
        transform: translate(500px, -500px);
    }
    50% {
        transform: translate(1000px, -500px);
    }
}


.x1 {
    height: 90px;
    width: 90px;
    animation: sideWays 12s ease infinite, move 52s infinite;
}


.x2 {
    height: 90px;
    width: 90px;
    animation: sideWays 10s linear infinite alternate, move 57s infinite alternate;
    animation-delay: 5.5s;
}

.x3 {
    height: 130px;
    width: 130px;
    background-size: 130px 130px;
    animation: sideWays 5s ease infinite, move 52s infinite;
}

.x4 {
    height: 130px;
    background-size: 130px 130px;
    width: 130px;
    animation: sideWays2 10s ease infinite, move2 52s infinite;
}

.x5 {
    height: 90px;
    position: relative;
    width: 90px;
    left: -100px;
    background: url('https://www.click4balloons.co.uk/ekmps/shops/click4/images/clear-deco-bubble-balloon-20-1pc-12298-p.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    padding-top: 0px;
    z-index: -999;
    
    height: 230px;
    width: 230px;
    background-size: 230px 230px;
    animation: sideWays2 10s ease infinite, move2 52s infinite;
}



.box-3 { 
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content:flex-end;
    margin-right: 35rem;
    align-items: center;
    background-color: transparent; 
  }

/* 
========================
BUTTON THREE
========================
*/
.btn-three {
    text-decoration: none;
    margin: 50px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 300px;
  font-size: 1.7rem;
  cursor: pointer;
  color: #e9e9e9;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 3px;
  /* background-color: rgba(255,255,255,0.1); */
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.7s;
}

.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.7s;
  background-color: rgba(255,255,255,0.1);
border-radius: 5px;
  /* border: 1px solid rgba(255,255,255,0.5); */
  transform: scale(1.2,1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


/* /////////////////////// ATTENTE ///////////////////////////// */

.bg-attente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.301); */
    background-image: radial-gradient(circle at 28% 29%, rgba(237, 237, 237,0.04) 0%, rgba(237, 237, 237,0.04) 50%,rgba(136, 136, 136,0.04) 50%, rgba(136, 136, 136,0.04) 100%),radial-gradient(circle at 8% 78%, rgba(156, 156, 156,0.04) 0%, rgba(156, 156, 156,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),radial-gradient(circle at 29% 46%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(198, 198, 198,0.04) 50%, rgba(198, 198, 198,0.04) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.title-soon{
    text-align: center;
    /*  padding-top: 17rem;
     margin-bottom: 6rem; */
      /* color: #ebebeb;
     font-family: Lato, sans-serif;
     font-size: 5rem; */
     font-family: 'Tangerine', cursive;
     color: #42766C;
     font-weight: 100;
     font-size: 7.5vw;
     letter-spacing: 4px;
     /* color:#3b3b3b; */
 }
 
/* /////////////////////// CONTACT ///////////////////////////// */

.imageFond{
    display: flex;
    justify-content: center;
}
.bg-contact{
    position: fixed;
    margin-top: 50px;
    width: 50%;

    /* height: 100vh; */
    /* background-color: crimson; */
    /* background-image: url('../../public/images/bg_contact.jpg'); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.753); */
    opacity: 0.35;
    /* text-align: center; */
    z-index: -1;
  
} 

.row-contact{
    margin-bottom: 10rem;
}

.title-contact{
   text-align: center;
    padding-top: 7rem;
    margin-bottom: 6rem;
     /* color: #ebebeb;
    font-family: Lato, sans-serif;
    font-size: 5rem; */
    font-family: 'Tangerine', cursive;
    color: #42766C;
    font-weight: 100;
    font-size: 6.5vw;
    letter-spacing: 4px;
    /* color:#3b3b3b; */
}


h3{
    /* font-family: 'Rochester', cursive; */
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #42766C;
}



.container-mail{
    /* background-color: #ba386e; */
    margin-bottom: 7rem;
}

.form-control{
    background: transparent;
    /* color: #ebebeb !important; */
}


.form-input:focus{
    background: transparent;
    border-color: #4ea575;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    box-shadow: 0 0 0;
}

/* textarea */
.ta-message {
    height:300px !important;
    resize: none;
    /* background: transparent; */
    /* min-height: 6rem !important; */
} 

/* .form-ta{
}

.form-ta:focus{
    background: transparent;
    border-color: #4ea575 !important;
    box-shadow: 0 0 0;
} */

/* button */
.btn-contact{
    background-color: #42766C;
    width: 100%;
    font-size: 15px;
    color: #ebebeb;
    border: 1px solid #4ea575;
    border-radius: 6px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.btn-contact:hover{
    background-color: #4ea575;
    color: #ebebeb;
}

.btn-contact img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: -38px;
    opacity: 0;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.btn-contact:hover img{
    opacity: 1;
}
/* info */

.sublight{
    color: #4ea575
}

.coordonee{
    margin-top: 7rem;
}

.reservation{
    width: 100%;
    border:1px solid rgba(68, 67, 67, 0.623);
    border-radius: 5px;
    padding: 10px;
    -pxwebkit-border-radius: 5;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.btn-reserve{
    align-items: center;
    width: 75%;
    height: 5rem;
    border-radius: 4pw;
    font-size: 1.2rem;
    color: #ebebeb;
    border: 1px solid #4ea575;
    transition: .6s lineare;
    -webkit-border-radius: 4pw;
    -moz-border-radius: 4pw;
    -ms-border-radius: 4pw;
    -o-border-radius: 4pw;
}

.logo-visio{
    width: 2rem !important;
}


/* //////////////////////////////////// MODALS ////////////////////////// */

.titleModal{
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
}


/* //////////////////////////////////// FOOTER ////////////////////////// */

.footer{
    background: #1d2e42;
    color:#e9e9e9;
}

.links ul {
    list-style-type: none;
}

.links ul li a{
    color: #e4e4e4;
    transition: color .2s;
}

.links ul li a:hover{
    text-decoration:none;
    color:#4180CB;
}

.about-company i{
    font-size: 25px;
}

.about-company a{
    margin-right: 10px;
    color:#e9e9e9;
    transition: color .2s;
}

.about-company a:hover{
    color:#4180CB;
}


.location i{
    font-size: 18px;
}

/* .copyright p{
    border-top:1px solid rgba(255,255,255,.1);
}  */


  /* //////////////////////////////// MEDIA ///////////////////////////// */
  @media screen and (max-width:991px){
          .logo-heart{
        display: none;
    }
  }

  @media screen and (max-width:960px){
    .home-container{
        margin-right: 0;
        right: 0;

    }
    .title h1{
        font-size: 5rem;
        letter-spacing: 4px;
    }
    .home-container{
        top: 35px;

    }
    .medias{
        top: 38%;
    }
    /* CONTACT */
    .bg-contact{
        width: 100%;
    }
}

@media screen and (max-width:576px){
    .title h1{
        font-size: 4rem;
        text-align: center;
        align-items: center;
        margin-top: 0.7rem;
        } 

    .navbar-home{
        display: inline-block;
        /* color: #fefefe  !important;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        letter-spacing: 3px;
        padding-bottom: 0.3rem; */
    }

    .nav-link{
        /* font-family: 'Roboto', sans-serif;
        color: #fbfbfb !important;
        font-size: 1.2rem;
        letter-spacing: 3px;
        padding-bottom: 0.3rem;
 */
        margin: 0px 0 20px 0;
    }

    .nav-item:hover:after{
        display: none;
    }

    .container-btn{
        bottom: 5rem;
    }

    .btn-appel-action{
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 5px 5px 5px 5px;
    }

    .icon-gif{
        fill: #fbfbfb;
    }

    /* FOOTER */
    .location{
        margin-top: 20px;
    }

}
