*,::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    /*min-width: 100%;
    min-height: 100%; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* .overlay-home{
    background-color: rgba(46, 64, 87, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
 
} */

.home-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    margin-right: 5rem;
    top: 75px;
    right: 5px;
    width: 100%;
}

.title{
    margin-bottom: 10rem;
}

.title-home{
    font-family: 'Tangerine', cursive;
    color: #42766C;
    font-weight: 100;
    font-size: 6.5vw;
    letter-spacing: 4px;
}

.container-btn{
    position: fixed;
    bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    /* margin-left: 55rem;
    margin-top: 10rem; */
}

.btn-appel-action{
    display: inline-block;
    width: 21rem;
    margin: 10px 20px 10px 20px;
    text-align: center;
    border: 1px solid #ffffff8f;
    color: rgb(253, 253, 253);
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px 10px 5px 10px;
    transition: .7s ease-in-out;
}

.btn-appel-action:hover{
    color: #42766C;
    background-color: #f0f0f065;
}

    
/* icon media */
.medias{
    position: absolute;
    list-style: none;
    right: 2%;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media{
    position: relative;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.logo-media{
    width: 2rem !important;
    transition: all .3s ease;
}

.logo-media:hover{
    transform: scale(1.3);
}














/* ///////////////////////////// NAVBAR ///////////////////////////////// */

.nav-home{
    display: flex;
    justify-content: flex-end !important;
}

.navbar{
    background-color: transparent;
}

.js-collapseNavbar{
    background-color: #2e4058 !important;
    border-radius: 0 0 400px 0;
    z-index: 10000;
}
.js-mainNavbar{
    background-color: #2e4058 !important;
    border-radius: 0 0 400px 0;
}

/* .navbar-brand{
    color: #fefefe  !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-left: 5px;
}

.navbar-brand span{
    font-size: 1.1rem;
} */

.nav-link{
    font-family: 'Montserrat', sans-serif;

    color: #479D84!important;
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding-bottom: 0.3rem;
}

.activ{
    color: #7EC65E !important;
    font-weight: bolder;
    border-bottom: 1px solid #ba386e ;
}

.nav-services:after{
    display: block;
    content: '';
    border-bottom: 1px solid #479D84;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-services:hover:after{
    transform: scale(1);
}

.nav-item:after{
    display: block;
    content: '';
    border-bottom: 1px solid #479D84;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-item:hover:after{
    transform: scale(1);
}

/* hamburger */

.btn-hamburger{
    float: right;
}

.toggler-icon{

    width: 30px;
    height: 3px;
    background: #ba386e;
    margin: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none;
    outline: none;
}

/* .navbar-toggler.active .toggler-icon:nth-child(2){
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}

.navbar-toggler.active .toggler-icon:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
} */

.icon-gif{
    height: 1.5rem;
    width: 1.5rem;
}

/* ///////////////// SPRITE ////////////////////// */
.hi {
    width: 160px;
    height: 150px;
    position: absolute;
  top: 22px;
  left: 2140px;
    background-image: url("../img/bf.png");
    /* transform: translate3D(200px, 50px, 0); */
    animation: walk 0.48s steps(10) infinite , moveDog 4.7s linear 1;
    /* backface-visibility: hidden; */
    /* perspective: 1000; */
           
}



@keyframes walk {
    100% { background-position: -1657px; }
  }

 @keyframes moveDog {
  100% {
    transform: translateX(-2657px);
  } 

}

/* .dog {
  width: 145px;
  height: 100px;
  position: absolute;
  top: 22px;
  left: -140px;
  background-image: url("../img/sprite/dogSprite.png");
  animation: walkDog .6s steps(6) 4
    , moveDog 2.7s linear 1;
}

@keyframes walkDog {
  100% {
    background-position: -960px;
  }
}
*/

.logo-heart{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25%;
    z-index: 2000;
}

.btn-rdv{
width: 21rem;
margin: 0 20px 0 20px;
text-align: center;
border: 1px solid #6C8387;
color: #6C8387;
border-radius: 5px;
text-decoration: none;
font-size: 2rem;
padding: 5px 20px 5px 20px;
transition: .7s ease-in-out;
}




.btn-rdv:hover{
color: #ba386e;
background-color: #f0f0f0;
}











/* /////////////////////////////// bulles ///////////////////////// */
.bulles-container{

    height: 100vh;
    overflow: hidden;
    /* background: #05080e; */
    background-image: linear-gradient(to right bottom, #05080e, #051937, #01213c);
    background-image: linear-gradient(to right, #051937, #01213c);
    background-image: linear-gradient(to right bottom, #05080e, #0f161d, #12202a, #122b38);
    /* background-image: url(./textile-1824172_1920.jpg); */
    background-size: cover;
}

.logoBulles{
    margin: 40px;

}
[class~=bubble] {
    height: 90px;
    position: relative;
    width: 90px;
    left: -100px;
    background: url('https://www.click4balloons.co.uk/ekmps/shops/click4/images/clear-deco-bubble-balloon-20-1pc-12298-p.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    padding-top: 0px;
    z-index: -999;

}


#background-wrap {
    background: url('http://www.arrumadissimo.com.br/wp-content/uploads/2015/06/Adesivos-pastilhinhas1.png');
    border: 3px black solid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -999;
    margin: 0 auto;

}



@keyframes sideWays {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 100px;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(700px, 50px);
    }
}



@keyframes sideWays2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 350px;
    }
}

@keyframes move2 {
    0% {
        transform: translate(500px, -500px);
    }

    50% {
        transform: translate(1000px, -500px);
    }
}



.x1 {
    height: 90px;
    width: 90px;
    animation: sideWays 12s ease infinite, move 52s infinite;
}



.x2 {
    height: 90px;
    width: 90px;
    animation: sideWays 10s linear infinite alternate, move 57s infinite alternate;
    animation-delay: 5.5s;
}


.x3 {
    height: 130px;
    width: 130px;
    background-size: 130px 130px;
    animation: sideWays 5s ease infinite, move 52s infinite;
}




.x4 {
    height: 130px;
    background-size: 130px 130px;
    width: 130px;
    animation: sideWays2 10s ease infinite, move2 52s infinite;
}

.x5 {
    height: 90px;
    position: relative;
    width: 90px;
    left: -100px;
    background: url('https://www.click4balloons.co.uk/ekmps/shops/click4/images/clear-deco-bubble-balloon-20-1pc-12298-p.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    padding-top: 0px;
    z-index: -999;
    
    height: 230px;
    width: 230px;
    background-size: 230px 230px;
    animation: sideWays2 10s ease infinite, move2 52s infinite;
}



.box-3 { 
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content:flex-end;
    margin-right: 35rem;
    align-items: center;
    background-color: transparent; 
  }





/* 
========================
BUTTON THREE
========================
*/
.btn-three {
    text-decoration: none;
    margin: 50px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 300px;
  font-size: 1.7rem;
  cursor: pointer;
  color: #e9e9e9;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 3px;
  /* background-color: rgba(255,255,255,0.1); */
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.7s;
}

.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.7s;
  background-color: rgba(255,255,255,0.1);
border-radius: 5px;
  /* border: 1px solid rgba(255,255,255,0.5); */
  transform: scale(1.2,1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


/* //////////////////////////////////// COOKIES ///////////////////////// */
.cookie-alert {
    position: fixed;
    bottom: 160px;
    right: 15px;
    width: 320px;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
  }
  
  .cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
  }





/* /////////////////////// CONTACT ///////////////////////////// */

.bg-contact{
    height: 100vh;
    /* background-color: crimson; */
    /* background-image: url('../../public/images/bg_contact.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.924);
    /* opacity: 0.2; */
} 

.row-contact{
    margin-bottom: 10rem;
}

.title-contact{
   text-align: center;
    padding-top: 7rem;
    margin-bottom: 6rem;
     /* color: #ebebeb;
    font-family: Lato, sans-serif;
    font-size: 5rem; */
    font-family: 'Tangerine', cursive;
    color: #42766C;
    font-weight: 100;
    font-size: 6.5vw;
    letter-spacing: 4px;
    /* color:#3b3b3b; */
}


h3{
    /* font-family: 'Rochester', cursive; */
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #42766C;
}
.container-mail{
    /* background-color: #ba386e; */
    margin-bottom: 7rem;
}

.form-control{
    background: transparent;
    color: #ebebeb !important;
}


.form-input:focus{
    background: transparent;
    border-color: #4ea575;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    box-shadow: 0 0 0;
}

/* textarea */

.form-ta{
    resize: none;
    /* background: transparent; */
    min-height: 10rem !important;
}

.form-ta:focus{
    background: transparent;
    border-color: #4ea575 !important;
    box-shadow: 0 0 0;
}

/* button */
.btn-contact{
    width: 100%;
    font-size: 15px;
    color: #ebebeb;
    border: 1px solid #4ea575;
    border-radius: 6px;
    transition: .6s lineare;
}

.btn-contact:hover{
    background-color: #4ea575;
    color: #ebebeb;
}

.btn-contact img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: -38px;
    opacity: 0;
    transition: .6s lineare;
}

.btn-contact:hover img{
    opacity: 1;
}
/* info */

.sublight{
    color: #4ea575
}


.reservation{
    width: 100%;
    border:1px solid #000;
    border-radius: 5px;
    -pxwebkit-border-radius: 5;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.btn-reserve{
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #ebebeb;
    border: 1px solid #4ea575;
    transition: .6s lineare;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* //////////////////////////////////// FOOTER ////////////////////////// */

/* footer{
    background-color: #255779;
    color: #e9e9e9;
    height: 100px;
    width: 100%;
} */




/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:150px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
/* //////////////////////////////////// COOKIES ///////////////////////// */
/* .cookie-alert {
    position: fixed;
    bottom: 160px;
    right: 15px;
    width: 320px;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
  }
  
  .cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
  } */






  /* //////////////////////////////// MEDIA ///////////////////////////// */
  @media screen and (max-width:960px){
    .home-container{
        margin-right: 0;
        right: 0;

    }
    .title h1{
        font-size: 5rem;
        letter-spacing: 4px;
    }
    .home-container{
        top: 35px;

    }

    .logo-heart{
        display: none;
    }

    .medias{
        top: 38%;
    }
}

@media screen and (max-width:576px){
    .title h1{
        font-size: 4rem;
        text-align: center;
        align-items: center;
        } 


    .nav-link{
        font-family: 'Roboto', sans-serif;
        color: #fbfbfb !important;
        font-size: 1.2rem;
        letter-spacing: 3px;
        padding-bottom: 0.3rem;

        margin: 30px 0 20px 0;
    }

    .container-btn{
        bottom: 5rem;
    }

    .btn-appel-action{
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 5px 5px 5px 5px;
    }

    .icon-gif{
        fill: #fbfbfb;
        stroke: #f0f0f0;
    }
        
}