<!-- Modal -->
{# <div class="modal-dialog modal-dialog-scrollable"> #}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mentions légales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>CONDITIONS GÉNÉRALES DE VENTE DE PRESTATIONS DE SERVICES</h1>
        <hr>
        <p>L’entreprise individuelle  Nassima EL BAKKALI, dispose du Statut Juridique suivant : entreprise individuelle soumis au régime de la déclaration contrôlée. Elle est inscrite à l’URSSAF sous le N° de SIRET  ………, dont le siège social est situé au 133 rue le mattre 80000 Amiens.</p>
      <p>Nassima EL BAKKALI propose des prestations de service dont les activités principaux sont la Sophrologie et l'Hypnose évolutive référencées sous le code APE 8690 F « Activité de santé humaine non classée ailleurs ».</p>
      <p>Ci-après dénommée : Nassima EL BAKKALI « La Sophrologue » ou « La Sophrologue et Praticienne en hypnose évolutive » ou le Prestataire ; Et Le Client. </p>
      <p>La lecture attentive et l’acceptation de ces conditions générales de vente sont une obligation avant toute réservation de prestations de service. Celles-ci en définissent les conditions. </p>
      
      <hr>
      <h2>CLAUSE GENERALE</h2>
      <p>Les présentes conditions générales de vente s’appliquent à tous services réservés sur le site  www.prendsletempsdevoluer.com ou lors de la prise de rendez-vous en ligne. Tout client reconnaît avoir pris connaissances des présentes CGV avant d’avoir effectué sa réservation ou sa prise de rendez -vous. 
        La prise de réservation ou de rendez-vous entraîne l’adhésion du client aux CGV et leur acceptation sans réserve. 
        </p>

        <h3>1. DESCRIPTION DU SERVICE </h3>

        <p>Réserver en ligne des prestations de sophrologie et / ou d'hypnose évolutive proposées par Nassima EL BAKKALI. Le Site www.prendsletempsdevoluer.com permet à l’Utilisateur, notamment de rechercher des prestations, et des informations sur ces prestations, auprès de Madame Nassima EL BAKKALI, dont la prise de rendez-vous peut être faite soit par le biais du Site www.prendsletempsdevoluer.com, soit directement auprès de Madame Nassima EL BAKKALI par mail à l'adresse suivante :  …………  ou aux coordonnées téléphoniques suivantes : ……….. </p>
        <p>Les prestations proposées par Madame Nassima EL BAKKALI sont réalisées en ligne, en visio-conférence sur des plateformes telles que Zoom ou Skype.</p>
        <p>La première séance (de sophrologie et d'hypnose évolutive), d’une durée d'environ 2 heures – 2 heures 30, débute par une présentation de la sophrologie ou de l'hypnose évolutive, la définition des attentes du client et l'anamnèse (le recueil d'information lié à la demande du client).</p>
      <p>Les séances suivantes se déroulent sur une durée d'environ :</p>
      <p>séance individuelle de sophrologie (adulte) : 1 heure – 1 heure 30</p>
      <p>séance individuelle de sophrologie (enfant) : 30 – 45 min</p>
      <p>séance collective de sophrologie (adulte) : 1 heure (?)</p>
      <p>séance de découverte de la sophrologie (valable une seule fois par personne) : 45 min</p>
      <p>séance individuelle d'hypnose évolutive (adulte) : 1h30 – 2h</p>
      <p>séance individuelle d'hypnose évolutive (adolescent) : 1h – 1h30</p>
      <p>séance de découverte d'hypnose évolutive (valable une seule fois par personne) : 1h – 1H30</p>
      
      <h3>2. Champs d’applications</h3>
      <p>Les présentes conditions générales de vente s’appliquent, sans restriction ni réserve à l’ensemble des prestations proposées par Nassima EL BAKKALI, sur son site Internet www.prendsletempsdevoluer.com : </p>
      <p>Les services individuels et collectifs suivants sont proposés par Nassima EL BAKKALI : </p>
      <p>Séances individuelles de sophrologie</p>
      <p>Séances collectives de sophrologie</p>
      <p>Ateliers de Sophrologie sur différents thèmes auprès des Entreprises, Collectivités, Établissements Scolaires Publiques ou privées sans que cette liste  soit limitative.</p>
      <p>Le Prestataire se réserve toutefois le droit de refuser tout accompagnement qui n’entrerait pas dans le champ de ses compétences. Il convient de rappeler que la Sophrologue et Praticienne en hypnose évolutive prend tous les moyens propres à permettre, dans le cadre de la demande exprimée lors du premier rendez-vous, le développement personnel du client. La Sophrologue et Praticienne en hypnose évolutive n’a pas d’obligation de résultat.</p>

        <h3>3. Mentions légales </h3>
        <p>Les différentes techniques proposées et pratiquées n’ont aucune visée médicale et ne sont assimilables ni aux actes réservés aux professions de santé réglementées par le Code de la Santé Publique et au décret n°96-879 du 8 octobre 1996. Elles sont considérées comme complémentaires et ne se substituent en aucun cas au Champ médical réservé aux professions de Santé. Elles s’inscrivent dans une démarche complémentaire et personnelle de travail sur soi de toute personne qui consulte.</p>

    <h3>4. Accès à la plateforme et utilisation</h3>
    <p>Le site est accessible gratuitement en tout lieu à tout utilisateur ayant accès à Internet. Tous les frais supportés par l’utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet etc.) sont à sa charge.</p>
    <p>Le client devra s’assurer de sa connexion internet et du bon fonctionnement de celui-ci. Il est demandé de tester sa connexion au préalable pour éviter toute attente ou retard dans le planning.</p>
    <p>Le site www.prendsletempsdevoluer.com est uniquement accessible à des fins informatives, de réservation de rendez-vous et / ou de paiement de prestations.</p>
    <p>L’accès aux services du site www.prendsletempsdevoluer.com peut à tout moment faire l’objet d’une interruption, d’une suspension, d’une modification sans préavis pour une maintenance ou pour tout autre cas. L’utilisateur s’oblige à ne réclamer aucune indemnisation suite à l’interruption, à la suspension ou à la modification du présent contrat.</p>

    <h3>5. Réservation </h3>
    <p>Le client peut passer par le site Internet  www.prendsletempsdevoluer.com pour réserver une ou plusieurs prestations, il doit obligatoirement suivre le processus de réservation suivant : </p>
    <ul>
        <li>Choix de la prestation et acceptation du prix </li>
        <li>Choix de la date et de l’heure </li>
        <li>Fournir nom, prénom, n° de téléphone et adresse postale et son e-mail personnel 
Un mail de confirmation de la réservation sera envoyé automatiquement par .... de même qu’un sms de rappel 48 heures avant la date de Rendez-vous défini
</li>
    </ul>

    <h3>6. Prix, moyens et conditions de paiement</h3>
    <p>Les prix indiqués sur le site Internet sont exprimés en euros « TVA non applicable, Article 293 B-I du CGI », et correspondent à ceux en vigueur au jour de la commande. Le paiement se fera le jour de la réservation par les moyens suivants : </p>
    <ul>
        <li>Carte Bancaire </li>
        <li>Espèces </li>
    </ul>
    <p>Il existe différentes tarifications sur le site :</p>
    <ul>
        <li>séance individuelle de sophrologie (adulte) : 60 € (hors première séance)</li>
        <li>séance individuelle de sophrologie (enfant) : 45 € (hors première séance)
</li>
        <li>séance collective de sophrologie (adulte) : 15 € par personne
</li>
        <li>séance de découverte de la sophrologie (valable une seule fois par personne) : 45 €</li>
        <li>séance individuelle d'hypnose évolutive (adulte) : 75 € (hors première séance)</li>
        <li>séance individuelle d'hypnose évolutive (adolescent) :  60 € (hors première séance)
</li>
        <li>séance de découverte d'hypnose évolutive (valable une seule fois par personne) : 60 €</li>
    </ul>
    <p>Le prix peut être modifié à tout moment, le prix annoncé au moment de la commande étant celui appliqué à celle-ci.
</p>
<p>Les tarifs définis pour certaines catégories de particuliers (étudiants, séniors, etc.) ne seront appliqués que sur justificatifs valides (une photocopie du certificat de scolarité de l'année en cours pour les étudiants et une photocopie de la carte d'identité des séniors). Dans le cas où le client n'aurait pas présenté de justificatif valide lors de la première séance, Madame Nassima EL BAKKALI se réserve le droit de ne pas réaliser la prestation et le tarif du rendez-vous sera considéré comme dû.</p>

<h3>7. Fourniture des prestations</h3>
<p>Les services commandés par le Client seront fournis selon les indications du client (date, heure et lieu lors de la prise de RDV). En début de premier rendez-vous Nassima EL BAKKALI, informe son client : des tarifs appliqués en fonction de la demande spécifique du jour et de la nécessité pour le client d’accepter la convention d’honoraires proposée en début de premier entretien avant toute démarche de prise en charge par la Sophrologue et Praticienne en hypnose évolutive.</p>

<h3>8. Report, annulation et modification d’un rendez-vous</h3>

<p>Dans le cas où la personne ne se présenterait pas au rendez-vous fixé sans avoir prévenu sa sophrologue et / ou praticienne en hypnose évolutive, les honoraires seront dus par le clients  à moins que celui-ci n’ait annulé ou reporté son rendez-vous plus de 48 heures avant par tous moyens (Site de Prise de rendez-vous en ligne ou par téléphone au  ………….). </p>
<p>En cas d’impossibilité de se rendre au rendez-vous pris avec Nassima EL BAKKALI, le client est invité à annuler ou reporter son rendez-vous plus de 48 heures avant via l’agenda en ligne ou par téléphone au ….. .</p>
<p>En cas de report ou d’annulation du RDV dans les 48h, le tarif du RDV sera considéré comme dû. Dans le cas où la personne ne se présenterait pas au rendez-vous fixé sans avoir prévenu par avance Nassima EL BAKKALI, le RDV sera également considéré comme dû. Cela permettra de dégager les créneaux horaires pour d’autres personnes, pour faciliter la prise de rendez-vous et l’organisation du planning de la sophrologue.</p>
<p>ARTICLE 7 – Protection des informations personnelles & R.G.P.D.                                                                                              
En application de la loi n° 78-17 du 6 janvier 1978 complété par Le règlement général sur la protection des données (RGPD) entré en application le 25 Mai 2018. Cette obligation de transparence est définie aux articles 12, 13 et 14 du RGPD, il est rappelé que les données nominatives qui sont demandées au Client sont nécessaires au traitement de sa commande et sont destinées à un usage interne des données recueillies vous concernant par Madame Nassima EL BAKKALI qui se trouve être le Délégué à la protection des données. 
Ces données nominatives ne sont jamais transmises à des tiers. 
Le Client dispose d’un droit d’accès, de modification, de rectification et d’opposition s’agissant des informations le concernant, en faisant directement une demande par mail à Madame Nassima EL BAKKALI. Pour toute demande adressez un mail aux coordonnées suivantes …...</p>

<p>Les données à caractère personnel recueillies par Madame Nassima EL BAKKALI à l’occasion d’une réservation effectuée en ligne sont nécessaires pour : </p>

<ul>
    <li>la gestion, la sécurisation, et la validation de la réservation en ligne par le Client, </li>
    <li>la lutte contre la fraude sur Internet, </li>
    <li>l’envoi des offres commerciales de Madame Nassima EL BAKKALI lorsque la législation en vigueur l’autorise.
</li>
</ul>
<p>Les informations recueillies à caractère personnelles au cours de la première séance de consultation et éventuellement les suivantes, restent confidentielles et sont soumises au secret professionnel au titre de la nature des prestations proposées.</p>

<h3>9. Propriété intellectuelle</h3>
<p>Tous les documents, textes et autres informations (images, photos) sont soit la propriété exclusive de Madame Nassima EL BAKKALI soit par une banque d’images. Toute représentation totale ou partielle de ce site est soumise à l’autorisation préalable, écrite et expresse de Madame Nassima EL BAKKALI. A ce titre, la reproduction et la diffusion sans autorisation préalable de Madame Nassima EL BAKKALI sont interdites conformément aux dispositions de l’article L.122-4 du code de la propriété intellectuelle. </p>

<h3>10. Droit applicable & Litiges</h3>
<p>Depuis le 1er juillet 2016, les sophrologues ont l’obligation de proposer gratuitement à leur client un service de médiation à la consommation en cas de litige. Conformément à l’article L641-1 du code de la consommation. Vous pouvez en cas de litige demander à votre Sophrologue à saisir le Médiateur suivant auprès duquel il est inscrit : </p>


<strong>Adresse du Médiateur </strong>
<p>address</p>

<p>A défaut d’avoir pu établir une médiation avec le Médiateur référencé ci-dessus, les présentes Conditions Générales de Ventes sont soumises à la Loi Française ainsi que tous les litiges relatifs, notamment, à leur validité, leur interprétation, leur exécution ou leur résiliation. En cas de litiges, le seul Tribunal Compétent sera celui où se trouve le Siège Social de Madame Nassima EL BAKKALI. </p>

<h2>AVERTISSEMENT</h2>

<p>Il appartient aux clients de faire toutes vérifications qui semblent nécessaires ou opportunes avant de procéder à une quelconque réservation de prestations présentes sur le Site auprès de Madame Nassima EL BAKKALI.                                                        
En cas de grossesse ou pathologie grave et quelle que soit la prestation souhaitée, il est recommandé aux clients de demander l’avis préalable de leur médecin généraliste ou spécialiste. Il en est de même pour les personnes fragiles, comme par exemple les personnes âgées, les personnes ayant des problèmes pathologiques, psychologiques, cardiologiques ou de tension, les personnes sujettes à des allergies, sans que cette liste ne soit considérée comme limitative.                                                                                                                                         
Les conseils, recommandations et prestations de service proposés par Madame Nassima EL BAKKALI ne remplacent en aucun cas l’avis d’un médecin. 
Avant d’interrompre ou modifier tout traitement médical, le Client doit se référer à son médecin traitant. La Sophrologie et l'Hypnose évolutive, quand bien même ceux-ci disposent de champs d’interventions multiples (Médecine, Gestion du Stress et du Développement personnel) sont considérées comme des approches complémentaires et non alternatives ou substitutives à la médecine traditionnelle. 
Un sophrologue et / ou un praticien en hypnose évolutive n’est pas un psychothérapeute : il n’est pas habilité et formé pour diagnostiquer et prendre en charge des troubles pathologiques.
</p>
<p>Les honoraires des prestations proposées ne sont pas conventionnés et ne sont pas pris en charge par la Sécurité Sociale.</p>
<p>Nous vous invitons à vous renseigner auprès de votre Mutuelle Santé. De plus en plus de mutuelles participent fréquemment aux frais de séances de Sophrologie.</p>
<p>L'entreprise individuelle de Madame Nassima EL BAKKALI ne peut être tenue pour responsable, tant sur le plan contractuel qu’extracontractuel, en cas d’inexécution, temporaire ou définitive, de ses obligations lorsque cette inexécution résulte d’un cas de force majeure ou fortuit. </p>







      </div>
       {# <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> #}
    </div>
  </div>
</div>