<div class="modal fade" id="visioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Pourquoi faire une séance en ligne ?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<h3>Pourquoi faire une séance en ligne ?</h3>

				<p>La séance est la même qu'en présentiel, mais disponible du confort de chez vous ou partout ailleurs (chez
					un proche, au bureau, ...). Je vous propose une écoute, une attention et des techniques identiques à ce qui
					se fait en cabinet. Le maître mot de mes séances est la personnalisation. Je m'adapte à vos besoins et à
					votre environnement. L'hypnose et la sophrologie en ligne sont tout aussi efficace qu'en présentiel !</p>

				<p>Les plus de la visioconférence :</p>
				<ul>
					<li>Cela permet de gagner du temps</li>
					<li>Pour ceux qui ont des contraintes de déplacement / pour ceux qui ne peuvent se déplacer</li>
					<li>C'est plus facile à caser dans votre emploi du temps et cela facilite votre organisation.</li>
					<li>Vous pouvez même effectuer une séance durant la pause déjeuner, à votre travail. Il suffit de
						trouver un endroit isolé.</li>
					<li>Peu importe où vous vivez, la distance n'est plus un problème.</li>
					<li>Vous pouvez le faire même en déplacement et en vacances (depuis votre téléphone).</li>
					<li>On se sent parfois plus à l'aise de se livrer de chez soi.</li>
					<li>C'est assez pratique finalement</li>
				</ul>

        <h3>Comment se déroule une séance à distance ?</h3>
       <ol>
         <li>Vous réservez une séance sur le calendrier de prise de Rendez-Vous (lien du calendrier en question)</li>
         <li>Vous recevez un e-mail ?</li>
         <li>Vous payez votre séance en CB avec …</li>
         <li>Vous recevez un e-mail qui confirme votre prise de rendez-vous ?</li>
         <li>Je vous envoie, par e-mai,l un lien Zoom qui vous permettra de vous connecter à votre séance, le jour du rendez-vous. Si vous n'avez pas Zoom, vous pouvez le télécharger gratuitement en cliquant sur le lien de connexion au rendez-vous ou en allant directement sur leur site : …</li>
         <li>Veillez à tester, par avance, votre webcam, votre audio, votre micro et votre connexion internet. Vous pouvez également tester le lien zoom par avance.</li>
         <li>Le jour du rendez-vous, connectez-vous vous 5 à 10 min avant le début de la séance afin de vérifier que tout fonctionne et de commencer à l'heure. Vous serez en « salle d'attente » virtuelle jusqu'à ce que la consultation débute.</li>
         <li>Après la séance, je vous envoie un lien WeTransfer (qui ne sera disponible que quelques jours) pour que vous puissiez télécharger votre outil de travail autonome (audio d'auto-hypnose, exercice de sophrologie, etc.) et la note d'honoraires à transmettre à votre mutuelle (si prise en charge il y a).</li>
       </ol>
       <h3>Comment puis-je être au mieux accompagné durant cette séance en ligne ?</h3>
       <p>Pour que la séance se déroule au mieux  :</p>
       <ul>
         <li>Installez-vous dans un endroit calme où vous ne serez pas dérangé.</li>
         <li>Éteignez votre téléphone ou mettez le en mode avion.</li>
         <li>Vérifiez la qualité audio, le micro et la webcam en amont.</li>
         <li>Si vous utilisez un casque ou des écouteurs, gardez-les à portée de mains.</li>
         <li>Assurez-vous d'avoir une connexion internet stable.</li>
         <li>Votre appareil (ordinateur, tablette ou téléphone) est chargé et les notifications sont désactivées.</li>
         <li>Assurez-vous de pouvoir vous assoir confortablement (une chaise avec dossier, un fauteuil) ou de pouvoir vous allonger.</li>
         <li>Ayez un espace suffisant pour pouvoir effectuer des mouvements.</li>
         <li>Vous pouvez avoir une bouteille d'eau, des mouchoirs et un plaid près de vous en cas de besoin.</li>
       </ul>

<h3>Et si j'ai d'autres questions ?</h3>
<p>Contactez-moi via le formulaire ci-dessus ou prenez rendez-vous pour me poser directement vos questions.</p>




			</div>
			{# <div class="modal-footer">
			       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div> #}
		</div>
	</div>
</div>
